/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://get.pxhere.com/photo/sand-board-wood-texture-floor-pattern-office-brown-soil-empty-business-material-surface-blank-background-wooden-wallpaper-flat-backdrop-flooring-clipboard-notice-board-grass-family-laminate-flooring-bulletin-cork-board-corkboard-1141010.jpg");
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}

.banner {
  margin-top: 4px;
  margin-bottom: 2px;
}

.bannerTitle {
  font-size: 55px;
  font-style: bold;
  font-family: 'Gloria Hallelujah';
  text-align: center;
}

.bannerText {
  font-size: 24px;
  font-family: 'Gloria Hallelujah';
  text-align: center;
}

.boxLeft {
background: #ffffbd;
border: 2px solid white;
float: left; 
width: 35%;
}

.newToDo {
  background: white;
  font-family: 'Gloria Hallelujah';
  font-size: 24px; 
  font-style: bold; 
}

.toDoBoxBottom {
  font-size: 16px;
  font-family: 'Gloria Hallelujah';
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.boxRight {
  background: #ffffbd; 
  font-family: 'Gloria Hallelujah';
  border: 2px solid white;
  float: right; 
  width: 60%;
  }
  
  .viewToDoRight {
    background: white;
    font-family: 'Gloria Hallelujah';
    font-size: 24px; 
    font-style: bold;
  }
  
  .toDoBoxBottomRight {
    font-size: 16px;
    font-family: 'Gloria Hallelujah';
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px; 
  }

  #priorities {
    font-size: 13px;
    font-style: italic;
  }
  .high {
    width: 27%;
    display: inline-block;
  }
  .medium, .low {
   display: inline-block;
   width: 33.3%;
}
